{% extends "base.html" %}

{% block title %} Tablero {% endblock %}

{% block content %}
<div class="body2">
  <ul class="menu2">


        <li style="--clr:#B3B6B7">
          <a href="#" data-text="&nbsp;Perfil">&nbsp;Perfil&nbsp;</a>
        </li>
        <li style="--clr:#B3B6B7">
          <a href="#" data-text="&nbsp;Proyecto">&nbsp;Proyectos&nbsp;</a>
        </li>
        <li style="--clr:#B3B6B7">
          <a href="#" data-text="&nbsp;Backlog">&nbsp;Backlog&nbsp;</a>
        </li>
        <li style="--clr:#B3B6B7">
          <a href="#" data-text="&nbsp;Sprint">&nbsp;Sprint&nbsp;</a>
        </li>
        <li style="--clr:#B3B6B7">
          <a href="#" data-text="&nbsp;Kanban">&nbsp;Kanban&nbsp;</a>
        </li>
      </ul>
</div>
{% endblock %}