{% extends "base.html" %}

{% block title %} Log-In {% endblock %}

{% block content %}

<h1> Log-In </h1>
{% if form.errors %}
<p>

    Usuario o Contrasena incorrectas.
    Intente de nuevo...

</p>

{% endif %}

<div class="login-form">

    <form action="{% url 'login'%}" method="post">

    {{form.as_p}}
    {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log In"></p>

    </form>

</div>
        <button class="google">
            <a href="{% url "social:begin" "google-oauth2" %}">Google</a>
        </button>

{% endblock %}